.neo-nft-header{
  width: 100%;
  height: 100vh;
  background: url("../../../../assets/images/neonft.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  box-sizing: border-box;
  position: relative;
  .header{
    padding: 0;
  }
  //.services-header-box{
  //  position: absolute;
  //  left: 0;
  //  width: 100%;
  //  top: 0;
  //  z-index: -1;
  //  img{
  //    width: 100%;
  //  }
  //}
  .neo-nft-title{
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 40vh;
    h2{
      line-height: 112px;
      letter-spacing: 10.24px;
      text-align: center;
      font-size: 128px;
      font-family: actay_wide, "sans-serif";
      color: var(--white);
      margin-bottom: 50px;
    }
    p{
      font-family: actay, "sans-serif";
      font-size: 20px;
      color: var(--white);
      max-width: 100%;
      text-align: center;
      margin: 0;
    }
  }
}

@media (max-width: 430px) {
  .neo-nft-header{
    padding: 30px 20px;
    .neo-nft-title{
      width: 100%;
      max-width: 430px;
      padding: 0 20px;
      box-sizing: border-box;
      h2{
        font-size: 38px;
        line-height: normal;
        letter-spacing: 3px;
        margin-bottom: 30px;
      }
      p{
        font-size: 14px;
      }
    }
    .menu-mob-wrapper{
      position: fixed;
      z-index: 22;
      right: 4vw;
      bottom: 3vh;
      backdrop-filter: blur(20px);
      padding: 20px;
      box-sizing: border-box;
      background: rgba(250, 250, 250, 0.20);
      border-radius: 10px;
    }
  }
}

@media (min-width: 2560px) {
  .neo-nft-header{
    .header{
      .header__social-wrapper{
        display: flex;
        flex-direction: row;
      }
    }
    .neo-nft-title{
      h2{
        font-size: 144px;
        line-height: 128px;
      }
    }
  }
}