.cards-nft{
  display: flex;
  gap: 20px;
  max-width: 1360px;
  width: 100%;
  margin-top: 100px;
  .card-nft{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 20px;
    background: #151515;
    padding: 20px;
    box-sizing: border-box;
    min-width: 439.33px;
    min-height: 396px;
    justify-content: space-between;
    .card-inner-content{
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      justify-content: space-between;
      .image-nft-card{
        max-width: 400px;
        width: 100%;
        height: 143px;
        border-radius: 10px;
      }
      h4{
        font-family: actay_wide, "sans-serif";
        font-size: 24px;
        color: var(--white);
        margin: 0;
        text-align: left;
      }
      p{
        color: var(--white);
        opacity: 0.7;
        font-family: actay, "sans-serif";
        margin: 0;
      }
      .progress-bar-container{
        .progress-bar-indicator{
          border-radius: 25px;
        }
      }
    }
  }
  .pg-bar-points{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    font-family: actay, "sans-serif";
    color: var(--white);
    opacity: 0.7;
    margin-top: 10px;
  }
}

@media (max-width: 430px) {
  .cards-nft{
    flex-direction: column;
    margin-top: 60px;
    .card-nft{
      width: 350px;
      min-width: unset;
    }
  }
}