.accordion {
  width: 100%;
}

.accordion-panel {
  border-bottom: 1px solid rgba(250,250,250,0.1);
  margin-bottom: 8px;

  .panel-header {
    padding: 30px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    h3 {
      text-align: left;
      margin: 0;
      font-family: actay_wide, "sans-serif";
      color: var(--white);
      font-size: 20px;
    }
    .arrow-icon {
      font-size: 12px;
      margin-left: auto; // Move the arrow to the right side of the header
      &.rotate {
        transform: rotate(180deg);
      }
    }
  }

  .panel-content {
    padding: 0 0 30px;
    box-sizing: border-box;
    font-family: actay, "sans-serif";
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    &.active{
      max-height: 100%; /* Your desired max height when active */
      opacity: 0.7;
    }
    .content-text{
      font-family: actay, 'sans-serif';
      line-height: 24px;
      padding: 0;
    }
    li.content-text {
      list-style-position: inside;

    }
  }
}
