.shopify-products_wrapper{
  .shop-header{
    .menu-mob-wrapper{
      position: fixed;
      z-index: 999;
      right: 4vw;
      bottom: 3vh;
      backdrop-filter: blur(20px);
      padding: 20px;
      box-sizing: border-box;
      background: rgba(250, 250, 250, 0.20);
      border-radius: 10px;
    }
    .soon-page-inner-box{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .soon-title{
        width: 100%;
      }
      .btn-box{
        max-width: 200px;
      }
    }
  }
}