.cast-body{
  min-height: 70vh;
  width: 100%;
  background: url("../../../assets/images/castingBodyBg.jpg") top no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 430px){
  .cast-body{
    width: 100%;
    padding-bottom: 40px;
    position: relative;
    background: url("../../../assets/images/castingBodyBg.jpg") bottom no-repeat;
    background-size: contain;
    .cast-mob-line{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
