.films-box-wrapper{
  width: 100%;
  background: url("../../../assets/images/home-bodyCell-bg.svg") center no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .films-title{
    margin: 0;
    color: var(--white);
    font-family: actay_wide, "sans-serif";
    font-size: 36px;
    text-transform: capitalize;
  }
  .films-subtitle{
    text-align: center;
    color: var(--white);
    opacity: 0.5;
    font-family: actay, "sans-serif";
    font-size: 20px;
    max-width: 59%;
  }
  .rewards{
    display: flex;
    gap: 20px;
    margin: 120px 0 ;
    .f-award{
      width: 240px;
      height: 62px;
    }
    .s-award{
      width: 200px;
      height: 62px;
      -webkit-transform: translate3d(0,0,0)
    }
  }
  .film-cards-box{
    display: flex;
    box-sizing: border-box;
    height: 800px;
    max-width: 1140px;
    width: 100%;
    gap: 0 22px;
    padding: 50px 0 50px 0;
    .film-card-wrapper{
      border-radius: 20px;
      max-height: 600px;
      width: 33.33%;
      padding: 15px;
      box-sizing: border-box;
      transition: background-color 0.3s ease; /* Add a transition for background-color */
      transform: translateZ(0); /* Create a stacking context to isolate the hover effect */
      cursor: pointer;
      height: auto;
      &:hover {
        max-height: 620px;
        background-color: #1F1F1F; /* Adjust to your hover color */
      }
      .film-card {
        margin: 10px 0 20px;
        width: 100%;
        background-size: cover;
        height: 500px;
        transition: opacity 0.3s ease; /* Add a transition for opacity */
        opacity: 1; /* Initially hide the content */
      }
      &.hovered {
        .film-card {
          opacity: 1; /* Show the content on hover */
        }
      }
      .film-card-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
          font-family: actay, "sans-serif";
          color: var(--white);
          opacity: 0.5;
          text-transform: uppercase;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .films-bg-wrapper{
    background: url("../../../assets/images/home-bodyCell-bg.svg") top no-repeat;
    .films-box-wrapper{
      padding: 20px;
      box-sizing: border-box;
      .films-title{
        text-align: center;
      }
      .films-subtitle{
        max-width: 430px;
        width: 100%;
      }
      .rewards{
        display: flex;
        flex-direction: column;
        margin: 50px 0;
      }
      .film-cards-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 10px 0;
        max-height: 100%;
        .film-card-wrapper{
          width: 320px;
          max-height: 650px;
          &:hover {
            height: 100%;
            background-color: initial; // Remove hover background color in mobile view
          }
          .film-card-title{
            font-size: 12px;
          }
          .mobile-card-img{
            width: 100%;
          }
        }
      }
      .btn-box{
        margin-top: 10px;
        .btn-body{
          .arr-mob{
            display: none;
          }
        }
      }
    }
  }
}


