.all-movies-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  .upper-movies-section{
    background: url("../../assets/images/livestreams-bg.jpg") center no-repeat;
    background-size: cover;
    padding: 50px 1vw;
    .all-movies-title{
      display: flex;
      h2{
        font-size: 64px;
        font-family: actay_wide, "sans-serif";
        color: var(--white);
        max-width: 30%;
      }
      img{
        margin-left: 30px;
      }
    }
  }
  .films-cards-am{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    gap: 2%;
    background: var(--black);
    .link-to-details-am{
      text-decoration: none;
      margin-top: 1vh;
      width: 30.33%;
      z-index: 22;
      .am-poster-img{
        width: 100%;
      }
      .img-am-box{
        height: 100%;
        padding: 20px;
        border-radius: 20px;
        box-sizing: border-box;
        .poster-am-title{
          margin: 0 0 10px;
          display: flex;
          justify-content: space-between;
          color: var(--white);
          opacity: 0.5;
          font-family: actay, "sans-serif";
          text-transform: uppercase;
        }
      }
    }
  }
  .filled-button-box{
    position: absolute;
    bottom: 30vh;
    left: 42vw;
    width: 400px;
    cursor: pointer;
    z-index: 22;
  }
  .lower-bg-am-box{
    position: relative;
    height: 100vh;
    //z-index: -1;
    background: linear-gradient(to top, black, transparent);
    .bg-wrapper-am{
      width: 100%;
      height: 100vh;
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
  }
}

@media (max-width: 430px) {
  .all-movies-wrapper{
    .upper-movies-section{
      height: 50vh;
      display: flex;
      flex-direction: column;
      background: url("../../assets/images/PUC_BG.png") bottom no-repeat;
      background-size: cover;
      .all-movies-title{
        padding: 50px 20px;
        box-sizing: border-box;
        flex-direction: column-reverse;  // Reverse order for mobile screens
        align-items: center;
        text-align: center;
        align-self: center;
        margin-top: 10vh;
        gap: 20px;
        h2{
          text-transform: uppercase;
          max-width: 430px;
          width: 100%;
          font-size: 36px;
        }
        img{
          width: 62px;
          margin: 0;
        }
      }
    }
    .filled-button-box{
      max-width: 150px;
      bottom: 50vh;
      display: none;
    }
    .lower-bg-am-box{
      display: none;
    }
    .films-cards-am{
      height: 100%;
      align-items: center;
      padding: 50px 20px 100px;
      justify-content: space-between;
      background: url("../../assets/images/AM_M_BG.png") bottom no-repeat;
      background-size: cover;
      gap: 2% 2%;
      position: relative;
      .mob-line{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
      .link-to-details-am{
        max-width: 48%;
        width: 100%;
        max-height: 300px;
        height: 250px;
        margin-top: 25px;
        .img-am-box{
          padding: 10px;
          border-radius: 10px;
          .poster-am-title{
            flex-direction: column;
            opacity: 1;
            .all-m-title-card{
              opacity: 0.5;
            }
            .date-all-movies{
              opacity: 1;
              color: var(--white);
            }
          }
        }
      }
    }
  }
}