/* Text.scss */
.text {
  font-family: actay, 'sans-serif';
  font-weight: 400;
  color: #000; /* Default text color */

  &.light{
    color: var(--white);
  }

  &.large {
    font-size: 24px;
  }

  &.medium {
    font-size: 18px;
  }

  &.small {
    font-size: 12px;
  }

  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.underline {
    text-decoration: underline;
  }

  &.h2 {
    font-size: 36px;
    font-weight: bolder;
    color: var(--white);
    font-family: actay_wide, sans-serif;
  }

  &.h3 {
    font-size: 28px;
    font-weight: bold;
    color: var(--white);
    font-family: actay_wide, sans-serif;  }

  &.h4 {
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
    font-family: actay_wide, sans-serif;  }

  &.h5 {
    font-size: 20px;
    color: var(--white);
    font-family: actay_wide, sans-serif;  }

  &.h6 {
    font-size: 16px;
    color: var(--white);
    font-family: actay_wide, sans-serif;  }

  &.p {
    font-size: 14px;
  }

  &.span {
    font-size: 16px;
  }
}
