:root {
  --dark-hovered: #1F1F1F;
  --main-opacity: 0.9;
  --snow-white: #FFF;
  --white: #FAFAFA;
  --grey: #95959D;
  --light-grey: #F4F4F5;
  --white-darkened: #FAFAFA80;
  --tab-color-default: #6A6B76;
  --tab-color-pressed: #2A2B3B;
  --card-dark: #151515;
  --black: #0E0E0E;
  --dark: #161514;
  --green: #00FF84;
  --secondary-black: #050505
}

* {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}
